body {
  background-color: #eee;
}
header#appHeader {
  background-color: #015d90;
  text-align: center;
  padding: 1.5rem 0;
  color: #fff;
}
#contenthost {
  height: 100%;
  position: relative;
  background-color: #eee;
}
.dark-bg #contenthost {
  background-color: #2c3748;
}
section {
  height: 100%;
}
section > section {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}
section.ms-grid {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 100%;
}
section.with-appbar {
  height: calc(100% - 135px);
}
section.with-title {
  height: calc(100% - 73px);
}
section.with-title.with-appbar {
  height: calc(100% -  208px);
}
section .title {
  padding: 0;
  margin: 0;
  padding-bottom: 1.3rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #ccc;
}
.ms-row {
  margin-bottom: 1em;
}
.win-type-label {
  font-family: "Segoe UI", sans-serif, "Segoe MDL2 Assets", Symbols;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.333;
  margin: 1rem 0 0;
}
button.win-button.win-button-danger {
  background-color: #c71d1d;
  color: #fff;
}
button.win-button.win-button-danger:focus,
button.win-button.win-button-danger:hover {
  background-color: #c9302c;
}
.block {
  display: block;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.clearfix {
  clear: both;
}
.fw {
  width: 100%;
}
img.img-responsive {
  max-width: 100%;
}
img.img-circle {
  border-radius: 50%;
}
img.img-bordered {
  border: solid 3px #015d90;
}
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.page-section {
  padding-top: 1.5rem;
}
progress {
  max-width: 50%;
  color: #015d90;
  display: block;
}
progress.loading {
  margin: 0 auto;
}
progress.left {
  margin: 0;
}
/*#region WinJS SplitView */
.win-splitview {
  height: calc(100% - ( 1.5rem  +  1.5rem + 38px /*Height of the header itself.*/ ));
}
.win-splitview .win-splitview-pane {
  background-color: #015d90;
  margin: 0;
  padding: 0;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.win-splitview .win-splitview-pane.hide {
  display: none;
}
.win-splitview .win-splitview-pane .win-splitviewcommand .win-splitviewcommand-button {
  color: rgba(255, 255, 255, 0.7);
}
.win-splitview .win-splitview-pane .win-splitviewcommand .win-splitviewcommand-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.win-splitview .win-splitview-pane .win-splitviewcommand.active .win-splitviewcommand-button {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.win-splitview .win-splitview-pane > #push-to-bottom {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: flex;
}
.win-splitview .win-splitview-pane > #push-to-bottom > div {
  align-self: flex-end;
}
/*#endregion */
/*#region WinJS AppBar*/
.win-commandingsurface .win-commandingsurface-actionarea {
  background-color: #015d90;
}
.win-commandimage,
button:enabled:active .win-commandimage,
button:enabled:hover:active .win-commandimage {
  color: #fff;
}
.win-commandingsurface button.win-commandingsurface-overflowbutton:enabled .win-commandingsurface-ellipsis {
  color: #fff;
}
button .win-label,
button[aria-checked=true]:enabled .win-commandimage,
button[aria-checked=true]:enabled .win-label,
button[aria-checked=true]:enabled:hover:active .win-commandimage.win-commandimage {
  color: #fff;
}
html.win-hoverable .win-commandingsurface button.win-commandingsurface-overflowbutton:hover .win-commandingsurface-ellipsis,
html.win-hoverable .win-navbar.win-navbar-closed button:enabled.win-navbar-invokebutton:hover .win-navbar-ellipsis,
html.win-hoverable .win-navbar.win-navbar-closing button:enabled.win-navbar-invokebutton:hover .win-navbar-ellipsis,
html.win-hoverable .win-navbar.win-navbar-opened button:enabled.win-navbar-invokebutton:hover .win-navbar-ellipsis,
html.win-hoverable .win-navbar.win-navbar-opening button:enabled.win-navbar-invokebutton:hover .win-navbar-ellipsis,
html.win-hoverable button:enabled.win-command:hover,
html.win-hoverable button:enabled.win-command:hover .win-commandglyph,
html.win-hoverable.win-commandingsurface button.win-commandingsurface-overflowbutton:hover .win-commandingsurface-ellipsis,
html.win-hoverable.win-navbar.win-navbar-closed button:enabled.win-navbar-invokebutton:hover .win-navbar-ellipsis,
html.win-hoverable.win-navbar.win-navbar-closing button:enabled.win-navbar-invokebutton:hover .win-navbar-ellipsis,
html.win-hoverable.win-navbar.win-navbar-opened button:enabled.win-navbar-invokebutton:hover .win-navbar-ellipsis,
html.win-hoverable.win-navbar.win-navbar-opening button:enabled.win-navbar-invokebutton:hover .win-navbar-ellipsis {
  color: #ccc;
}
.win-commandingsurface .win-commandingsurface-overflowarea.win-menu {
  background-color: #015d90;
}
/*#endregion*/